/* Coolors Exported Palette - coolors.co/caa8f5-9984d4-592e83-230c33-b27c66 */

/* HSL */
$color1: hsla(266%, 79%, 81%, 1);
$color2: hsla(256%, 48%, 67%, 1);
$color3: hsla(270%, 48%, 35%, 1);
$color4: hsla(275%, 62%, 12%, 1);
$color5: hsla(17%, 33%, 55%, 1);

/* RGB */
$color1: rgba(202, 168, 245, 1);
$color2: rgba(153, 132, 212, 1);
$color3: rgba(89, 46, 131, 1);
$color4: rgba(35, 12, 51, 1);
$color5: rgba(178, 124, 102, 1);